/* CSS Document */
* {
    margin: 0;
	padding: 0;
}
body {
    background: #D5FFCE url(../images/2_index.jpg) repeat-x;
	font-family:"宋体";
	font-size: 12px;
}
#denglu {
    margin: 200px auto 0 auto;
	width: 236px;
	height: 108px;
	padding: 40px 0 0 0;
	background: url(../images/1_index.jpg) no-repeat;
}
#denglu_1 {
	height:16px;
	width:130px;
	font-size:12px;
}
#denglu_2 {
	height:16px;
	width:40px;
}
.anniu_1 {
    width: 50px;
	border: 0px;
	background: url(../images/3_index.jpg) no-repeat;
	height: 22px;
}