body{margin:0;padding:0;color:#000000;}
.title{width:100%;height:39px;background:url(../images/dhkbg.jpg);}
.zi{float:left;font-size:14px;margin:13px 0 0 39px;}
.bg{float:right;width:353px;height:39px;background:url(../images/dhkbg1.jpg);margin:0 66px 0 0;}
.box{float:left;width:100%;height:245px;}
.img{text-align:top;}
.icos{width:230px;height:21px;margin:0 0 0 7px;}
.icos dt{width:16px;height:16px;float:left;}
.icos dd{width:1px;height:21px;float:left;}
.left{width:40px;height:37px;background:url(../images/fsbutton.jpg);border:none;float:left;}
.right{width:15px;height:37px;background:url(../images/fsbutton01.jpg);border:none;float:left;}
.box01{float:left;width:100%;height:80px;}
.footbg{height:27px;background:url(../images/footbg.jpg);font-size:12px;text-align:left;}