body{margin:0;padding:0;background:url(../images/bg.jpg);font-size:12px;color:#006633;}
.hy_bg{width:1001px;height:145px;background:url(../images/hy_bg.jpg);margin:0 auto;}
.title{width:725px;height:37px;background:url(../images/titlebg.jpg);margin:0 auto;}
.txt{width:723px;height:440px;border: 1px solid #50C8AC;margin:0 auto;padding:33px 0 0 0;}
.txt a{color:#FF0000;text-decoration: none;}
.hy_sub{background:url(../images/button11.jpg); border:0px; width:51px; height:22px; cursor:pointer;}
.hy_res{background:url(../images/button12.jpg); border:0px; width:51px; height:22px; cursor:pointer;}