@charset "UTF-8";
img{ border:none}
.icon {
  background-repeat: no-repeat;
  overflow: hidden;
  border: none;
  background: url("icon.png?v=ud7ef46f0");
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  font-style: normal; }

.aboutus {
  background-position: -232px -286px;
  width: 17px;
  height: 16px; }

.amazon {
  background-position: -4px -53px;
  width: 87px;
  height: 38px; }

.baidu {
  background-position: -282px -286px;
  width: 16px;
  height: 16px; }

.cctv {
  background-position: -343px -4px;
  width: 15px;
  height: 17px; }

.chinabank {
  background-position: -181px -286px;
  width: 17px;
  height: 17px; }

.collect {
  background-position: -301px -129px;
  width: 28px;
  height: 25px; }

.common {
  background-position: -76px -312px;
  width: 16px;
  height: 16px; }

.cooper-hover {
  background-position: -256px -179px;
  width: 22px;
  height: 17px; }

.cooper {
  background-position: -245px -149px;
  width: 22px;
  height: 17px; }

.deposit {
  background-position: -52px -312px;
  width: 16px;
  height: 16px; }

.enter-hover {
  background-position: -172px -234px;
  width: 20px;
  height: 18px; }

.enter {
  background-position: -144px -234px;
  width: 20px;
  height: 18px; }

.feiniu {
  background-position: -4px -137px;
  width: 86px;
  height: 34px; }

.folder {
  background-position: -343px -173px;
  width: 13px;
  height: 10px; }

.game {
  background-position: -306px -286px;
  width: 16px;
  height: 16px; }

.gongshang {
  background-position: -131px -286px;
  width: 17px;
  height: 17px; }

.guangda {
  background-position: -343px -53px;
  width: 13px;
  height: 18px; }

.guangfa {
  background-position: -206px -286px;
  width: 18px;
  height: 16px; }

.hao {
  background-position: -63px -179px;
  width: 87px;
  height: 24px; }

.help-hover {
  background-position: -216px -149px;
  width: 21px;
  height: 19px; }

.help {
  background-position: -301px -259px;
  width: 21px;
  height: 19px; }

.huanqiu {
  background-position: -4px -286px;
  width: 18px;
  height: 18px; }

.huaxia {
  background-position: -200px -234px;
  width: 19px;
  height: 18px; }

.information {
  background-position: -301px -45px;
  width: 29px;
  height: 36px; }

.jdcom {
  background-position: -4px -99px;
  width: 102px;
  height: 30px; }

.jianshe {
  background-position: -28px -312px;
  width: 16px;
  height: 17px; }

.jiaotong {
  background-position: -81px -286px;
  width: 17px;
  height: 18px; }

.jingdong {
  background-position: -172px -312px;
  width: 17px;
  height: 15px; }

.jiuxian {
  background-position: -109px -44px;
  width: 92px;
  height: 32px; }

.jumei {
  background-position: -158px -179px;
  width: 90px;
  height: 22px; }

.line-web {
  background-position: -227px -234px;
  width: 20px;
  height: 17px; }

.line {
  background-position: -97px -234px;
  width: 39px;
  height: 32px; }

.link {
  background-position: -301px -4px;
  width: 34px;
  height: 33px; }

.man {
  background-position: -189px -137px;
  width: 18px;
  height: 20px; }

.minsheng {
  background-position: -90px -211px;
  width: 18px;
  height: 14px; }

.miya {
  background-position: -4px -4px;
  width: 97px;
  height: 41px; }

.mogujie {
  background-position: -216px -4px;
  width: 77px;
  height: 38px; }

.nongye {
  background-position: -275px -149px;
  width: 18px;
  height: 17px; }

.onlinebank {
  background-position: -47px -234px;
  width: 42px;
  height: 32px; }

.phoenix {
  background-position: -124px -312px;
  width: 16px;
  height: 16px; }

.promotions {
  background-position: -106px -286px;
  width: 17px;
  height: 17px; }

.renmin {
  background-position: -257px -286px;
  width: 17px;
  height: 16px; }

.service {
  background-position: -301px -162px;
  width: 26px;
  height: 25px; }

.shopping {
  background-position: -4px -234px;
  width: 35px;
  height: 44px; }

.souhu {
  background-position: -148px -312px;
  width: 16px;
  height: 16px; }

.suning {
  background-position: -109px -4px;
  width: 99px;
  height: 32px; }

.tabao {
  background-position: -63px -211px;
  width: 19px;
  height: 14px; }

.taobao {
  background-position: -98px -137px;
  width: 83px;
  height: 33px; }

.tencent {
  background-position: -156px -286px;
  width: 17px;
  height: 17px; }

.tmall {
  background-position: -216px -99px;
  width: 61px;
  height: 42px; }

.tongcheng {
  background-position: -116px -211px;
  width: 18px;
  height: 12px; }

.train {
  background-position: -4px -312px;
  width: 16px;
  height: 18px; }

.tryplay-hover {
  background-position: -301px -195px;
  width: 17px;
  height: 24px; }

.tryplay {
  background-position: -301px -227px;
  width: 17px;
  height: 24px; }

.vip {
  background-position: -216px -50px;
  width: 70px;
  height: 41px; }

.wangyi {
  background-position: -343px -126px;
  width: 14px;
  height: 15px; }

.web {
  background-position: -301px -89px;
  width: 31px;
  height: 32px; }

.withdraw {
  background-position: -343px -149px;
  width: 13px;
  height: 16px; }

.xiecheng {
  background-position: -343px -102px;
  width: 14px;
  height: 16px; }

.xingye {
  background-position: -142px -211px;
  width: 18px;
  height: 11px; }

.xinhua {
  background-position: -343px -79px;
  width: 15px;
  height: 15px; }

.xinlang {
  background-position: -255px -234px;
  width: 20px;
  height: 16px; }

.yihaodian {
  background-position: -4px -179px;
  width: 51px;
  height: 47px; }

.youku {
  background-position: -100px -312px;
  width: 16px;
  height: 16px; }

.youzheng {
  background-position: -343px -29px;
  width: 15px;
  height: 16px; }

.zaobao {
  background-position: -30px -286px;
  width: 18px;
  height: 18px; }

.zhaoshang {
  background-position: -56px -286px;
  width: 17px;
  height: 18px; }

.zheba {
  background-position: -114px -99px;
  width: 79px;
  height: 27px; }

.zhonghua {
  background-position: -197px -312px;
  width: 16px;
  height: 15px; }

html {
  height: 100%; }

body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 微软雅黑; }

.header {
  position: relative;
  display: block;
  overflow: hidden;
  background: #2161b3 none repeat scroll 0 0;
  height: 105px;
  border-bottom: 1px solid #990000; }
  .header .top-bar {
    position: relative;
    width: 1145px;
    min-width: 1145px;
    height: 105px;
    margin: 0 auto; }
    .header .top-bar .logo {
      position: absolute;
      display: block;
      height: 90px;
      margin-top: 10px; }
    .header .top-bar .logo_name {
      position: absolute;
      display: block;
      margin-left: 185px;
      top: 25px; }
    .header .top-bar .guide-title {
      display: block;
      color: white;
      margin-top: 20px; }
      .header .top-bar .guide-title ul {
        float: left; }
      .header .top-bar .guide-title li {
        float: left;
        padding: 6px 15px; }
        .header .top-bar .guide-title li i {
          margin-top: -5px; }
        .header .top-bar .guide-title li a {
          width: 50px;
          color: white; }
          .header .top-bar .guide-title li a span {
            font-size: 17px;
            margin-left: 5px; }
          .header .top-bar .guide-title li a:hover {
            color: #FFFF00; }
            .header .top-bar .guide-title li a:hover .enter {
              background-image: url("icon.png?v=ud7ef46f0");
              background-position: -172px -234px;
              width: 20px;
              height: 18px; }
            .header .top-bar .guide-title li a:hover .cooper {
              background-image: url("icon.png?v=ud7ef46f0");
              background-position: -256px -179px;
              width: 22px;
              height: 17px; }
            .header .top-bar .guide-title li a:hover .help {
              background-image: url("icon.png?v=ud7ef46f0");
              background-position: -216px -149px;
              width: 21px;
              height: 19px; }
            .header .top-bar .guide-title li a:hover .tryplay {
              background-image: url("icon.png?v=ud7ef46f0");
              background-position: -301px -195px;
              width: 17px;
              height: 24px; }
    .header .top-bar .collect-bg {
      padding-left: 48px;
      text-align: left;
      padding-top: 9px;
      float: left;
      margin-top: 10px;
      border-radius: 6px;
      width: 67px;
      height: 40px;
      line-height: 13px;
      position: relative;
      background-color: #FF6600; cursor: pointer;
      margin-left: 16px; }
      .header .top-bar .collect-bg span {
        font-size: 12px; }
      .header .top-bar .collect-bg p {
        font-size: 14px; }
      .header .top-bar .collect-bg .icon {
        left: 12px;
        top: 13px;
        position: absolute; }
    .header .top-bar .service-bg {
      padding-left: 48px;
      text-align: left;
      padding-top: 9px;
      float: left;
      margin-top: 10px;
      border-radius: 6px;
      width: 67px;
      height: 40px;
      line-height: 13px;
      position: relative;
      background-color: #FF9900;
      margin-left: 7px;
      cursor: pointer;}
      .header .top-bar .service-bg span {
        font-size: 12px; }
      .header .top-bar .service-bg p {
        font-size: 14px; }
      .header .top-bar .service-bg .icon {
        left: 12px;
        top: 13px;
        position: absolute; }

.main {
  height: 900px;
  width: 100%;
  display: block; }
  .main .wrapper {
    width: 1145px;
    min-width: 1145px;
    margin: 20px auto 0 auto;
    position: relative;
    display: block;
    overflow: hidden;
    border: 1px solid #e2e2e2; }
    .main .wrapper .guidecon {
      width: 195px;
      height: 720px;
      margin-top: -17px; }
      .main .wrapper .guidecon li {
        cursor: pointer;
        background-color: #fafafa;
        height: 50px;
        width: 196px;
        border: 1px solid #e3e3e3;
        margin-left: -41px;
        border-right: none; }
        .main .wrapper .guidecon li i {
          margin-top: 10px; }
        .main .wrapper .guidecon li p {
          margin-top: 10px;
          color: #7e7e7e; }
      .main .wrapper .guidecon .con-line {
        height: 100px;       padding: 30px 2px 0px 2px;
        border-bottom: none; }
        .main .wrapper .guidecon .con-line:hover {
          background-color: #fafafa; }
      .main .wrapper .guidecon .con-link {
        height: 85px;
        border-bottom: none;
        margin-top: -4px; }
      .main .wrapper .guidecon .con-web {
        height: 97px;
        border-bottom: none;
        padding: 30px 2px 0px 2px;
        margin-top: -4px; }
      .main .wrapper .guidecon .con-bank {
        height: 97px;
        border-bottom: none;
        padding: 30px 2px 0px 2px;
        margin-top: -4px; }
      .main .wrapper .guidecon .con-information {
        height: 98px;
        border-bottom: none;
        padding: 30px 2px 0px 2px; }
      .main .wrapper .guidecon .con-shopping {
        height: 195px;
        border-bottom: none;
        padding: 30px 2px 0px 2px; }
    .main .wrapper .guideconbox {
      float: right;
      width: 949px;
      height: 705px;
      background-color: white;
      margin-top: -725px;
      cursor: pointer; }
      .main .wrapper .guideconbox a {
        display: block; }
      .main .wrapper .guideconbox .guide-line {
        background: url("line-trangle.png?v=u574877a4") 0 center no-repeat !important;
        padding: 14px 15px;
        height: 100px; }
        .main .wrapper .guideconbox .guide-line .guide-lines {
          width: 912px;
          margin-top: 12px; }
          .main .wrapper .guideconbox .guide-line .guide-lines .br {
            border-right: 1px solid #e3e3e3; }
          .main .wrapper .guideconbox .guide-line .guide-lines .guide-linefi {
            width: 150px;
            height: 45px;
            line-height: 45px;
            border: 1px solid white;
            border-left: 1px solid #e3e3e3;
            border-top: 1px solid #e3e3e3;
            border-bottom: 1px solid #e3e3e3; }
			
			          .main .wrapper .guideconbox .guide-line .guide-lines .guide-linefir {
            width: 150px;
            height: 45px;
            line-height: 45px;
            border: 1px solid white;
            border-right: 1px solid #e3e3e3;
            border-top: 1px solid #e3e3e3;
			border-bottom: 1px solid #e3e3e3; 
			}
			
			 .main .wrapper .guideconbox .guide-line .guide-lines .guide-linefia {
            width: 150px;
            height: 45px;
            line-height: 45px;
            border: 1px solid white;
			border-left: 1px solid #e3e3e3;
            border-right: 1px solid #e3e3e3;
            border-top: 1px solid #e3e3e3;
			border-bottom: 1px solid #e3e3e3; 
			}
			 .main .wrapper .guideconbox .guide-line .guide-lines .cs {
			 color: #666; font-size:14px; 
			 
			 }
			
			 
			 #ultest em { position: relative; left:0px; top:0px; width:150px; overflow:hidden; font-style:normal;display:block; color: #666;}
			
						          .main .wrapper .guideconbox .guide-line .guide-lines .guide-linefira {
            width: 150px;
            height: 45px;
            line-height: 45px;
            border: 1px solid white;
            border-right: 1px solid #e3e3e3;
            border-top: 1px solid #e3e3e3;
		
			}
			
			 .main .wrapper .guideconbox .guide-line .guide-lines .guide-linefiaa {
            width: 150px;
            height: 45px;
            line-height: 45px;
            border: 1px solid white;
			border-left: 1px solid #e3e3e3;
            border-right: 1px solid #e3e3e3;
            border-top: 1px solid #e3e3e3;
		
			}
			
			
			
			 .main .wrapper .guideconbox .guide-line .guide-lines .guide-linefir:hover {
              background-color: #fffdfb;
              border: 1px solid #fba819; }
			  
			   .main .wrapper .guideconbox .guide-line .guide-lines .guide-linefia:hover {
              background-color: #fffdfb;
              border: 1px solid #fba819; }
			  
			  			 .main .wrapper .guideconbox .guide-line .guide-lines .guide-linefira:hover {
          
              border: 1px solid red; }
			  
			   .main .wrapper .guideconbox .guide-line .guide-lines .guide-linefiaa:hover {
         
              border: 1px solid red; }
			  
            .main .wrapper .guideconbox .guide-line .guide-lines .guide-linefi:hover {
              background-color: #fffdfb;
              border: 1px solid #fba819; }

            .main .wrapper .guideconbox .guide-line .guide-lines .guide-linefil:hover {
              background-color: #fffdfb;
              border: 1px solid #fba819; }
          .main .wrapper .guideconbox .guide-line .guide-lines a {
            float: left;
            margin-left: 30px; }
            .main .wrapper .guideconbox .guide-line .guide-lines a i {
              margin-top: -4px; }
            .main .wrapper .guideconbox .guide-line .guide-lines a span {
              margin-left: 2px; }
        .main .wrapper .guideconbox .guide-line:hover {
          background: #fafafa url("line-trangle.png?v=u574877a4") 0 center no-repeat !important; }
          .main .wrapper .guideconbox .guide-line:hover div {
            background-color: white; }
      .main .wrapper .guideconbox .guide-link {
        background: url("link-trangle.png?v=u574877a4") 0 center no-repeat !important;
        padding: 12px 10px 10px 14px;
        height: 58px; }
        .main .wrapper .guideconbox .guide-link a {
          padding: 13px 25px 14px 24px; }
        .main .wrapper .guideconbox .guide-link .guide-links {
          width: 912px;
          margin-top: 4px; }
          .main .wrapper .guideconbox .guide-link .guide-links .br {
            border-right: 1px solid #e3e3e3; }
          .main .wrapper .guideconbox .guide-link .guide-links .guide-linkfi {
            width: 150px;
            height: 45px;
            line-height: 45px;
            border: 1px solid white;
            border-left: 1px solid #e3e3e3;
            border-top: 1px solid #e3e3e3;
            border-bottom: 1px solid #e3e3e3; }
            .main .wrapper .guideconbox .guide-link .guide-links .guide-linkfi:hover {
              background-color: #fffdfb;
              border: 1px solid #fba819; }
          .main .wrapper .guideconbox .guide-link .guide-links .guide-linkfil {
            width: 150px;
            height: 45px;
            line-height: 45px;
            border: 1px solid white;
            border-left: 1px solid #e3e3e3;
            border-top: 1px solid #e3e3e3;
            border-right: 1px solid #e3e3e3;
            border-bottom: 1px solid #e3e3e3; }
            .main .wrapper .guideconbox .guide-link .guide-links .guide-linkfil:hover {
              background-color: #fffdfb;
              border: 1px solid #fba819; }
          .main .wrapper .guideconbox .guide-link .guide-links a {
            float: left;
            margin-left: 30px; }
            .main .wrapper .guideconbox .guide-link .guide-links a i {
              margin-top: -4px; }
            .main .wrapper .guideconbox .guide-link .guide-links a span {
              margin-left: 2px; }
        .main .wrapper .guideconbox .guide-link:hover {
          background: #fafafa url("link-trangle.png?v=u574877a4") 0 center no-repeat !important; }
          .main .wrapper .guideconbox .guide-link:hover div {
            background-color: white; }
      .main .wrapper .guideconbox .guide-web {
        background: url("web-trangle.png?v=u574877a4") 0 center no-repeat !important;
        padding: 14px 15px;
        height: 98px; }
        .main .wrapper .guideconbox .guide-web .guide-webs {
          width: 912px;
          margin-top: 2px; }
          .main .wrapper .guideconbox .guide-web .guide-webs .br {
            border-right: 1px solid #e3e3e3; }
          .main .wrapper .guideconbox .guide-web .guide-webs .guide-webfi {
            width: 150px;
            height: 45px;
            line-height: 45px;
            border: 1px solid white;
            border-left: 1px solid #e3e3e3;
            border-top: 1px solid #e3e3e3; }
            .main .wrapper .guideconbox .guide-web .guide-webs .guide-webfi:hover {
              background-color: #fffdfb;
              border: 1px solid #fba819; }
          .main .wrapper .guideconbox .guide-web .guide-webs .guide-webfil {
            width: 150px;
            height: 45px;
            line-height: 45px;
            border: 1px solid white;
            border-left: 1px solid #e3e3e3;
            border-top: 1px solid #e3e3e3;
            border-right: 1px solid #e3e3e3; }
            .main .wrapper .guideconbox .guide-web .guide-webs .guide-webfil:hover {
              background-color: #fffdfb;
              border: 1px solid #fba819; }
          .main .wrapper .guideconbox .guide-web .guide-webs .guide-webse {
            width: 150px;
            height: 45px;
            line-height: 45px;
            border: 1px solid white;
            border-left: 1px solid #e3e3e3;
            border-top: 1px solid #e3e3e3;
            border-bottom: 1px solid #e3e3e3; }
            .main .wrapper .guideconbox .guide-web .guide-webs .guide-webse:hover {
              background-color: #fffdfb;
              border: 1px solid #fba819; }
          .main .wrapper .guideconbox .guide-web .guide-webs .guide-websel {
            width: 150px;
            height: 45px;
            line-height: 45px;
            border: 1px solid white;
            border-left: 1px solid #e3e3e3;
            border-top: 1px solid #e3e3e3;
            border-bottom: 1px solid #e3e3e3;
            border-right: 1px solid #e3e3e3; }
            .main .wrapper .guideconbox .guide-web .guide-webs .guide-websel:hover {
              background-color: #fffdfb;
              border: 1px solid #fba819; }
          .main .wrapper .guideconbox .guide-web .guide-webs a {
            float: left;
            margin-left: 30px; }
            .main .wrapper .guideconbox .guide-web .guide-webs a i {
              margin-top: -4px; }
            .main .wrapper .guideconbox .guide-web .guide-webs a span {
              margin-left: 2px; }
        .main .wrapper .guideconbox .guide-web:hover {
          background: #fafafa url("web-trangle.png?v=u574877a4") 0 center no-repeat !important; }
          .main .wrapper .guideconbox .guide-web:hover div {
            background-color: white; }
      .main .wrapper .guideconbox .guide-online-bank {
        background: url("onlinebank-trangle.png?v=u574877a4") 0 center no-repeat !important;
        padding: 14px 15px;
        height: 100px; }
        .main .wrapper .guideconbox .guide-online-bank .guide-online-banks {
          width: 912px;
          margin-top: 4px; }
          .main .wrapper .guideconbox .guide-online-bank .guide-online-banks .br {
            border-right: 1px solid #e3e3e3; }
          .main .wrapper .guideconbox .guide-online-bank .guide-online-banks .guide-online-bankfi {
            width: 150px;
            height: 45px;
            line-height: 45px;
            border: 1px solid white;
            border-left: 1px solid #e3e3e3;
            border-top: 1px solid #e3e3e3; }
            .main .wrapper .guideconbox .guide-online-bank .guide-online-banks .guide-online-bankfi:hover {
              background-color: #fffdfb;
              border: 1px solid #fba819; }
          .main .wrapper .guideconbox .guide-online-bank .guide-online-banks .guide-online-bankfil {
            width: 150px;
            height: 45px;
            line-height: 45px;
            border: 1px solid white;
            border-left: 1px solid #e3e3e3;
            border-top: 1px solid #e3e3e3;
            border-right: 1px solid #e3e3e3; }
            .main .wrapper .guideconbox .guide-online-bank .guide-online-banks .guide-online-bankfil:hover {
              background-color: #fffdfb;
              border: 1px solid #fba819; }
          .main .wrapper .guideconbox .guide-online-bank .guide-online-banks .guide-online-bankse {
            width: 150px;
            height: 45px;
            line-height: 45px;
            border: 1px solid white;
            border-left: 1px solid #e3e3e3;
            border-top: 1px solid #e3e3e3;
            border-bottom: 1px solid #e3e3e3; }
            .main .wrapper .guideconbox .guide-online-bank .guide-online-banks .guide-online-bankse:hover {
              background-color: #fffdfb;
              border: 1px solid #fba819; }
          .main .wrapper .guideconbox .guide-online-bank .guide-online-banks .guide-online-banksel {
            width: 150px;
            height: 45px;
            line-height: 45px;
            border: 1px solid white;
            border-left: 1px solid #e3e3e3;
            border-top: 1px solid #e3e3e3;
            border-bottom: 1px solid #e3e3e3;
            border-right: 1px solid #e3e3e3; }
            .main .wrapper .guideconbox .guide-online-bank .guide-online-banks .guide-online-banksel:hover {
              background-color: #fffdfb;
              border: 1px solid #fba819; }
          .main .wrapper .guideconbox .guide-online-bank .guide-online-banks a {
            float: left;
            margin-left: 30px; }
            .main .wrapper .guideconbox .guide-online-bank .guide-online-banks a i {
              margin-top: -4px; }
            .main .wrapper .guideconbox .guide-online-bank .guide-online-banks a span {
              margin-left: 2px; }
        .main .wrapper .guideconbox .guide-online-bank:hover {
          background: #fafafa url("onlinebank-trangle.png?v=u574877a4") 0 center no-repeat !important; }
          .main .wrapper .guideconbox .guide-online-bank:hover div {
            background-color: white; }
      .main .wrapper .guideconbox .guide-information {
        background: url("information-trangle.png?v=u574877a4") 0 center no-repeat !important;
        padding: 14px 15px;
        height: 100px; }
        .main .wrapper .guideconbox .guide-information a {
          display: block; }
        .main .wrapper .guideconbox .guide-information .guide-informations {
          width: 912px;
          margin-top: 3px; }
          .main .wrapper .guideconbox .guide-information .guide-informations .br {
            border-right: 1px solid #e3e3e3; }
          .main .wrapper .guideconbox .guide-information .guide-informations .guide-informationfi {
            width: 150px;
            height: 45px;
            line-height: 45px;
            border: 1px solid white;
            border-left: 1px solid #e3e3e3;
            border-top: 1px solid #e3e3e3; }
            .main .wrapper .guideconbox .guide-information .guide-informations .guide-informationfi:hover {
              background-color: #fffdfb;
              border: 1px solid #fba819; }
          .main .wrapper .guideconbox .guide-information .guide-informations .guide-informationfil {
            width: 150px;
            height: 45px;
            line-height: 45px;
            border: 1px solid white;
            border-left: 1px solid #e3e3e3;
            border-top: 1px solid #e3e3e3;
            border-right: 1px solid #e3e3e3; }
            .main .wrapper .guideconbox .guide-information .guide-informations .guide-informationfil:hover {
              background-color: #fffdfb;
              border: 1px solid #fba819; }
          .main .wrapper .guideconbox .guide-information .guide-informations .guide-informationse {
            width: 150px;
            height: 45px;
            line-height: 45px;
            border: 1px solid white;
            border-left: 1px solid #e3e3e3;
            border-top: 1px solid #e3e3e3;
            border-bottom: 1px solid #e3e3e3; }
            .main .wrapper .guideconbox .guide-information .guide-informations .guide-informationse:hover {
              background-color: #fffdfb;
              border: 1px solid #fba819; }
          .main .wrapper .guideconbox .guide-information .guide-informations .guide-informationsel {
            width: 150px;
            height: 45px;
            line-height: 45px;
            border: 1px solid white;
            border-left: 1px solid #e3e3e3;
            border-top: 1px solid #e3e3e3;
            border-bottom: 1px solid #e3e3e3;
            border-right: 1px solid #e3e3e3; }
            .main .wrapper .guideconbox .guide-information .guide-informations .guide-informationsel:hover {
              background-color: #fffdfb;
              border: 1px solid #fba819; }
          .main .wrapper .guideconbox .guide-information .guide-informations a {
            float: left;
            margin-left: 30px; }
            .main .wrapper .guideconbox .guide-information .guide-informations a i {
              margin-top: -4px; }
            .main .wrapper .guideconbox .guide-information .guide-informations a span {
              margin-left: 2px; }
        .main .wrapper .guideconbox .guide-information:hover {
          background: #fafafa url("information-trangle.png?v=u574877a4") 0 center no-repeat !important; }
          .main .wrapper .guideconbox .guide-information:hover div {
            background-color: white; }
      .main .wrapper .guideconbox .guide-shopping {
        background: url("shopping-trangle.png?v=u574877a4") 0 center no-repeat !important;
        padding: 14px 15px;
        height: 200px; }
        .main .wrapper .guideconbox .guide-shopping .guide-shoppings {
          width: 912px;
          margin-top: 3px; }
          .main .wrapper .guideconbox .guide-shopping .guide-shoppings .br {
            border-right: 1px solid #e3e3e3; }
          .main .wrapper .guideconbox .guide-shopping .guide-shoppings .guide-shoppingfi {
            width: 128px;
            height: 94px;
            line-height: 45px;
            border: 1px solid white;
            border-left: 1px solid #e3e3e3;
            border-top: 1px solid #e3e3e3; }
            .main .wrapper .guideconbox .guide-shopping .guide-shoppings .guide-shoppingfi:hover {
              background-color: #fffdfb;
              border: 1px solid #fba819; }
          .main .wrapper .guideconbox .guide-shopping .guide-shoppings .guide-shoppingfil {
            width: 128px;
            height: 94px;
            line-height: 45px;
            border: 1px solid white;
            border-left: 1px solid #e3e3e3;
            border-top: 1px solid #e3e3e3;
            border-right: 1px solid #e3e3e3; }
            .main .wrapper .guideconbox .guide-shopping .guide-shoppings .guide-shoppingfil:hover {
              background-color: #fffdfb;
              border: 1px solid #fba819; }
          .main .wrapper .guideconbox .guide-shopping .guide-shoppings .guide-shoppingse {
            width: 128px;
            height: 94px;
            line-height: 45px;
            border: 1px solid white;
            border-left: 1px solid #e3e3e3;
            border-top: 1px solid #e3e3e3;
            border-bottom: 1px solid #e3e3e3; }
            .main .wrapper .guideconbox .guide-shopping .guide-shoppings .guide-shoppingse:hover {
              background-color: #fffdfb;
              border: 1px solid #fba819; }
          .main .wrapper .guideconbox .guide-shopping .guide-shoppings .guide-shoppingsel {
            width: 128px;
            height: 94px;
            line-height: 45px;
            border: 1px solid white;
            border-left: 1px solid #e3e3e3;
            border-top: 1px solid #e3e3e3;
            border-bottom: 1px solid #e3e3e3;
            border-right: 1px solid #e3e3e3; }
            .main .wrapper .guideconbox .guide-shopping .guide-shoppings .guide-shoppingsel:hover {
              background-color: #fffdfb;
              border: 1px solid #fba819; }
          .main .wrapper .guideconbox .guide-shopping .guide-shoppings i {
            margin-top: 9px; }
        .main .wrapper .guideconbox .guide-shopping:hover {
          background: #fafafa url("shopping-trangle.png?v=u574877a4") 0 center no-repeat !important; }
          .main .wrapper .guideconbox .guide-shopping:hover div {
            background-color: white; }

.mt6 {
  margin-top: 6px; }

.mt10 {
  margin-top: 10px; }

.mt12 {
  margin-top: 12px; }

table {
  border-collapse: collapse; }

.fl {
  float: left; }

.fr {
  float: right; }

.bt {
  border-top: none; }

a {
  text-decoration: none;
  color: #3f3f3f; }

p {
  padding: 0;
  margin: 0; }

.clearfix {
  clear: both; }

.online-service {
  position: fixed;
  top: 190px;
  width: 55px;
  height: 118px;
  right: 5px;
  cursor: pointer;
  background: url(online-service.png) no-repeat; }

.footer {
  height: 100px;
  width: 100%;
  min-width: 1145px;
  margin-top: 30px; }
  .footer .site-link {
    height: 45px;
    line-height: 45px; }
    .footer .site-link a {
      color: #727272;
      font-size: 14px;
      padding-left: 6px;
      margin-right: 6px; }
    .footer .site-link .line {
      border-left: 1px solid #a7a7a7;
      margin-left: -5px; }
  .footer .copyright {
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #8f8f8f;
    font-size: 12px; }

ul, ol {
  list-style: none; }
