<?php
	$pfxFile = "D:/hz2288/web/member/pay/mb/ymsm.pfx";
	//$pubFile = "D:/hz2288/web/member/pay/mb/epay.pem";
	$pubFile = "D:/hz2288/web/member/pay/mb/epay.cer";
	$pfxpasswd = "ymsm";
	$payReqUrl = "https://trade.mobaopay.com/cgi-bin/netpayment/pay_gate.cgi";
	$queryReqUrl = "http://192.168.20.209:9003/cgi-bin/netpayment/pay_gate.cgi";
	$refundReqUrl = "http://192.168.20.209:9003/cgi-bin/netpayment/pay_gate.cgi";
	
	// http://trade.mobaopay.dev/cgi-bin/netpayment/pay_gate.cgi;
?>
