/* ::::: http://www.988cp.com/css/main.css ::::: */

body { font-family: "Microsoft YaHei",Tahoma,"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif; width: 100%; background-color: rgb(255, 255, 255); margin: 0px; }
div, ul, ol, li, form, img, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, pre, code, form, fieldset, legend, button, input, textarea { margin: 0px; padding: 0px; border: 0px none; list-style: outside none none; overflow: hidden; }
a { text-decoration: none; }
.body_bg { background: white none repeat scroll 0% 0%; }
/* ::::: http://www.988cp.com/css/style.css ::::: */

body { font-family: "Microsoft YaHei",Tahoma,"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif; width: 100%; background-color: rgb(255, 255, 255); }
.clearfix::before, .clearfix::after { content: " "; display: table; }
.clearfix::after { clear: both; }
.game-panel-1 div.drawDescription::before, .game-panel-2 div.drawDescription::before, .game-panel-3 div.drawDescription::before { content: " "; clear: both; }
@media screen and (max-width: 1044px) {
}
/* ::::: http://www.988cp.com/css/index.css ::::: */

* { margin: 0px; padding: 0px; }
*::-moz-selection { background: rgb(0, 122, 255) none repeat scroll 0% 0%; color: white; text-shadow: none; }
body { font-size: 13px; background-color: rgb(255, 255, 255); font-family: "Microsoft YaHei",Arial; }
body, button, input, select, textarea { font: 13px/1 Tahoma,"微软雅黑",sans-serif,Arial,Helvetica,"宋体"; }
ul, li { list-style: outside none none; }
a { text-decoration: none; color: black; }
a:hover { text-decoration: underline; }
a:visited { text-decoration: none; }
a:link { text-decoration: none; }
a { cursor: pointer; }
img { border: medium none; }
button, input, select, textarea { font-size: 100%; }
body { min-width: 1000px; }
.g_w1 { width: 1000px; margin: 0px auto; position: relative; overflow: visible; }
.topmenu { height: 80px; width: 100%; background: rgb(33, 97, 179) none repeat scroll 0% 0%; }
.logo { float: left; margin-left: 90px; height: 90px; }
.logo img { width: 200px; height: 70px; }
.menulinks { float: right; margin-top: 20px; margin-right: -17px; }
.sublinks { float: left; width: 93px; padding: 8px 0px; text-align: center; color: rgb(255, 255, 255); text-decoration: none !important; border-radius: 17px; margin-right: 3px; font-size: 15px; margin-top: 0px; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3); }
.sublinks:hover { float: left; width: 93px; text-align: center; color: rgb(33, 97, 179); background-color: rgb(255, 255, 255); }
.bannerpromo { background-image: url('../../images/promotiontile.jpg'); background-repeat: repeat-x; }
.footerindex2 { height: 25px; padding-top: 15px; text-align: center; font-size: 14px; color: rgb(102, 102, 102); background: rgb(246, 245, 250) none repeat scroll 0% 0%; }
/* ::::: http://www.988cp.com/css/login_index.css ::::: */

input { border: medium none; padding: 0px; }
/* ::::: http://www.988cp.com/css/jquery.bxslider.css ::::: */

/* ::::: http://www.988cp.com/css/jquery-ui.css ::::: */

.ui-helper-clearfix::before, .ui-helper-clearfix::after { content: ""; display: table; border-collapse: collapse; }
.ui-helper-clearfix::after { clear: both; }
input.ui-button::-moz-focus-inner, button.ui-button::-moz-focus-inner { border: 0px none; padding: 0px; }
/* ::::: http://www.988cp.com/css/remodal.min.css ::::: */

.remodal-wrapper::after { display: inline-block; height: 100%; margin-left: -0.05em; content: ""; }
.remodal, .remodal-wrapper::after { vertical-align: middle; }
.remodal-close::before { font-family: Arial,"Helvetica CY","Nimbus Sans L",sans-serif !important; font-size: 25px; line-height: 35px; position: absolute; top: 0px; left: 0px; display: block; width: 35px; content: "×"; text-align: center; }
.remodal-confirm::-moz-focus-inner, .remodal-cancel::-moz-focus-inner, .remodal-close::-moz-focus-inner { padding: 0px; border: 0px none; }
@media only screen and (min-width: 641px) {
}
/* ::::: http://www.988cp.com/common/modelCommon/layer/css/layer.css ::::: */

/* ::::: http://www.988cp.com/common/modelCommon/layer/css/layer.css ::::: */

/* ::::: http://www.988cp.com/css/reg.css ::::: */

body { background-color: rgb(231, 238, 245); }
.headertxt { font-size: 50px; color: rgb(33, 97, 179); position: absolute; top: 67px; left: 202px; }
.headersubtxt { font-size: 20px; color: rgb(162, 162, 162); position: absolute; top: 130px; left: 3px; }
.stepitm { width: 332px; height: 60px; border: 1px solid rgb(153, 153, 153); color: rgb(153, 153, 153); position: relative; overflow: visible; float: left; margin-right: -1px; }
.stepactive { border: 1px solid rgb(31, 95, 178); color: rgb(31, 95, 178); }
.stepno { font-family: "Helvetica Neue LT Std"; font-size: 40px; float: left; margin-top: 10px; margin-left: 40px; font-weight: normal; }
.stepnotxt { font-size: 20px; float: left; margin-top: 18px; margin-left: 15px; }
.hlfcircle { position: absolute; width: 19px; height: 36px; background-image: url('../../images/hlfcircle1a.png'); right: -19px; top: 13px; }
.hlfcircleactive { background-image: url('../../images/hlfcircle1.png') !important; }
.mt35 { margin-top: 35px; }
.ml90 { margin-left: 90px; }
.row { color: rgb(15, 15, 15); margin-bottom: 15px; }
.col1 { width: 142px; float: left; font-size: 14px; text-align: right; padding-top: 10px; }
.col2 { width: 280px; margin-left: 10px; float: left; }
.col3 { width: 390px; margin-left: 15px; float: left; color: red; font-size: 14px; padding-top: 10px; }
.textbox1 { width: 250px; height: 18px; padding: 9px; border: 1px solid rgb(185, 180, 180); font-size: 14px; color: rgb(102, 102, 102); border-radius: 2px; }
.submitbtn { height: 44px; width: 270px; text-align: center; padding: 10px 0px; color: rgb(255, 255, 255); background-color: rgb(33, 97, 179); font-size: 16px; cursor: pointer; border-radius: 2px; }
