@CHARSET "UTF-8";

body {
	color: #000000;
	font-family: Verdana, "宋体", Arial, Sans;
	font-size: 13px;
	  background-color: #ffffff;
}

h2 {
	font-size: 15px;
}

li {
	list-style: none;
	width: 700px;
  margin-top: 8px;
  line-height: 20px;
}

p {
	margin: 0;
}

a {
	color: #2836F4;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.stress {
	  margin-left: 2em; 
}

.title{
	font-weight: bold;
}

.label {
	font-size: 13px;
  color: red;
}

ul{
	margin-top: 25px;
}