html,body{background-color: transparent;font-family:'Microsoft YaHei',"微软雅黑",SimSun,sans-serif;}
.h10{width: 100%; height: 10px; display: block;clear: both;}
.btn-green{ color: #fff; background-color: #2c8c5f; border-color: #1d7f51;}
.btn-green.active, .btn-green.focus, .btn-green:active, .btn-green:focus, .btn-green:hover, .open>.dropdown-toggle.btn-green{color: #fff; background-color: #1c7a4e;border-color: #107043;}
p.bg-primary,p.bg-success,p.bg-info,p.bg-warning,p.bg-danger{padding: 15px;}

.usermenu i.fa, .user-center .list-group i.fa { padding: 10px; color: #fff; display: inline-block; border-radius: 5px; margin-right: 10px;}
.usermenu i.fa-user{font-size: 30px; background-color: #fd9c03; padding: 10px 12px;}
.usermenu i.fa-cny{background-color: #e6b550; padding: 10px 15px;}
.usermenu i.fa-credit-card{background-color: #6da9fa;}
.usermenu i.fa-cart-arrow-down{background-color: #fa5d72; padding: 10px 11px;}
.usermenu i.fa-cubes{background-color: #a29f9f;}
.usermenu i.fa-users{background-color: #65d49c;padding: 10px 12px;}
.usermenu i.fa-user-plus{background-color: #edc70c;}
.usermenu i.fa-envelope-o{background-color: #26cbab;}

.usermenu span.fa { float: right;  line-height: 34px;}
.badge { background-color: #f40900;  line-height: normal;}
.acinfo{display: inline-block; float: left;}
#user_money{color: #FF0000;}
.body_msg i.fa-envelope{color: #e7aa39;}
ul.pagination{margin: 0px;}
ul.nav-tile li a{padding: 10px 5px;}
.tab-content{margin-top: 10px;}

/*.sports ul.nav li a{background-color: #a1a1a1;margin-right: 0px;}
.sports ul.nav li a:hover,.sports ul.nav li.active a{background-color: #00925f; color: #fff;}*/
.sports .nav-tabs.nav-justified>li{display: table-cell;width: 1%; white-space: nowrap;}
.sports .nav-tabs.nav-justified>li>a{margin-bottom: 0px;background-color: #fff; font-size: 16px;color: #1c7a4e;}
.sports .nav-tabs>li.active>a, .sports .nav-tabs>li.active>a:focus, .sports .nav-tabs>li.active>a:hover{background-color: #f5f5f5;}
.sports .nav-tabs.nav-justified>.active>a, .sports .nav-tabs.nav-justified>.active>a:focus, .sports .nav-tabs.nav-justified>.active>a:hover{border-bottom:none;}
.sports .tab-content{margin-top: -1px;background-color: #fff;}
.sports .panel-group{margin-bottom: 0px;}
.sports .panel-group .panel-default{ border-top: none; margin-top: -1px;}
.sports .panel-default>a.ach{ margin-bottom: 0px; border:none;border-bottom: 1px solid #ddd;}
.sports .panel-default>a.ach,.sports .panel-default>a.ach:focus,.sports .panel-default>a.ach:hover{background-color: #f5f5f5; font-size: 15px; font-weight:bold;}
.sports .panel-default>a.ach.collapsed{background-color: #f5f5f5;}
.sports .panel>.list-group .list-group-item, .sports .panel>.panel-collapse>.list-group .list-group-item{border: none;}
.sports .list-group-item i.fa-angle-right{float: left;margin: 0px 5px 0px 15px;font-size: 18px;}
.sports .list-group-item.active, .sports .list-group-item.active:focus, .sports .list-group-item.active:hover{background-color: #e7efef;color: #00925a;}
.sports i.icon{display: inline-block;width: 22px;height: 22px;float: left; margin-right: 3px;}
.sports i.icon-football{background: url(../images/sports/sport_07.png) no-repeat;}
.sports i.icon-basketball{background: url(../images/sports/sport_11.png) no-repeat;}
.sports i.icon-tennis{background: url(../images/sports/sport_13.png) no-repeat;}
.sports i.icon-volleyball{background: url(../images/sports/sport_15.png) no-repeat;}
.sports i.icon-baseball{background: url(../images/sports/sport_18.png) no-repeat;}
.sports i.icon-champion{background: url(../images/sports/sport_22.png) no-repeat;}
#jd_dialog_m_t{height: 45px;}

.menucp span.fa-chevron-right { float: right;  line-height: 34px;color: #aaa;}
.menucp span.fa-angle-right{ margin: 0px 10px;}
.menucp .list-group-item{font-size: 18px;}
.menucp .apk10{border-bottom: none;background-color: #f5f5f5;}
.menucp .apk10.collapsed{background-color: #fff;}
.menucp #pk10 .list-group-item{font-size: 15px; border-top: none;border-bottom: none;}
.red{color: #FF0000}
.pink{color:#FF0080}
.footable-row-detail-row{margin: 5px 0px;display: block;}
.footable-row-detail-name{width: 100px;}
.zhu{color: #5cb85c;}
.ke{color:#31b0d5;}
.he{color: #f0ad4e;}
.hong{color: #d9534f;}
#datashow .rangqiu_odds .odds{float: right; text-align: right;margin: 2px 0px;}
#datashow .rangqiu_odds .pankou{width:100px;color: #FF8500;  float: left;margin: 2px 0px;}
#datashow .table br{clear: both;}
#datashow .rangqiu_odds .pankou .btn{color: #FF8500;}