@charset "gb2312";
/* CSS Document */

BODY {font-size:12px}
UL {PADDING: 0px; MARGIN: 0px;}
LI {PADDING: 0px; MARGIN: 0px;}
P {line-height:10px;}

.container {
	WIDTH: 550px;
	HEIGHT: 230px;
}
.container A IMG {
	WIDTH: 550px;
	HEIGHT: 230px;
}
.container IMG {
	BORDER-BOTTOM-STYLE: none;
	BORDER-RIGHT-STYLE: none;
	BORDER-TOP-STYLE: none;
	BORDER-LEFT-STYLE: none
}
.td_f A IMG {
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}
.num {
	POSITION: absolute;
	WIDTH: 90px;
	FLOAT: right;
	TOP: 200px;
	LEFT: 510px
}
.num LI {
	TEXT-ALIGN: center;
	LINE-HEIGHT: 15px;
	LIST-STYLE-TYPE: none;
	MARGIN: 1px;
	WIDTH: 15px;
	FONT-FAMILY: Arial;
	BACKGROUND: url(../images/flashbutton.gif) no-repeat -15px 0px;
	FLOAT: left;
	HEIGHT: 15px;
	COLOR: #86a2b8;
	FONT-SIZE: 12px;
	CURSOR: pointer
}
.num LI.on {
	LINE-HEIGHT: 15px;
	WIDTH: 15px;
	BACKGROUND: url(../images/flashbutton.gif) no-repeat;
	HEIGHT: 15px;
	COLOR: #ffffff
}
