/* CSS Document */
* {
    margin: 0;
	padding: 0;
}
.bianbg {
    background: #616378 url(../images/bianbg.jpg) repeat-y left;
}
body {
	font-size: 12px;
	color: #000000;
	font-family: "";
}
a:link,a:visited,a:active  {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a:hover {
    font-size: 12px;
	color: #666666;
}
/*bottom*/
.bottom_body {
    background: #68E8D1 url(../images/bottom_bg.jpg) repeat-x top;
}
#bottom_1 {
    width: 1001px;
	padding: 12px 0 0 0;
	margin: 5px 0 0 0;
	height: 30px;
	background: url(../images/bottom_11.jpg) no-repeat right;
}
#bottom_1 .bottom_2 {
	width: 1001px;
	line-height: 16px;
	word-spacing: 10px;
	text-indent: 14px;
	padding: 7px 0 0 0;
}
#bottom_1 .bottom_3 {
	width: 1001px;
	line-height: 16px;
	word-spacing: 8px;
	text-indent: 10px;
}
/*bottom end of*/


