
/*<!--内容区-->*/
a:link {color:#fff; text-decoration:none;}
a:hover {color: #ff0; text-decoration:none;}
a:visited {color: #FFF; text-decoration:none;}
body {margin:0;padding:0px;text-align:center; font-family:"宋体",arial;margin:0;padding:0;font-size:12px;width:100%;height: auto;background:url(../indeximg/indexbg2.jpg) repeat-x #072b41;color:#fff;line-height:22px;}

#index_main{width:1027px;}
#index_left{width:185px;height: auto; font-size:13px;font-weight:bold;font-family:Arial, Helvetica, sans-serif;color:#fff;float:left; margin-left:10px;}
.lilte_left{width:185px;height:33px;background:url(/images/indexleft_title.png);}
.lilteleft_bg01{width:185px;height:15px;background:url(/images/indexleftbg_01.png);}
.lilteleft_bg02{width:185px;height:100%;background:url(/images/indexleftbg_02.png);}
.lilteleft_bg03{width:185px;height:255px;background:url(/images/indexleftbg_03.png);}
.lilte_01a{width:160px;height:21px;line-height:21px;background:url(/images/indexleft_titlea.png);margin:0 0 0 10px;}
.lilte_01{width:160px;height:21px;line-height:21px;background:url(/images/indexleft_titlea.png);margin:5px 0 0 10px;}
#index_right{width:810px;height: auto;color:#fff;float:right;margin-left:8px;}

/*
.indexright_bg01{width:18px;height:721px;background:url(/images/indexrightbg_01.png);float:left;}
.indexright_bg02{width:773px;height:721px;background:url(/images/indexrightbg_02.png);float:left;}
.indexright_bg03{width:18px;height:721px;background:url(/images/indexrightbg_03.png);float:left;}*/

.indexright_bg01{width:799px;height:28px; line-height:28px;background:url(/images/indexrightbg_01.png);color: #fff; font-size:12px;text-align:left; }

.indexright_bg02{width:799px;height: auto; background:url(/images/indexrightbg_02.png);}
.indexright_bg03{width:799px;height:5px;background:url(/images/indexrightbg_03.png);}
.right_txt{padding:5px 0 10px 10px;text-indent:2em;font-size:12px;height: auto;line-height:24px; text-align:left; color:#000}
.right_txt p {
    line-height: 20px;
	text-indent: 24px;
	margin: 0 0 4px 0;
}

.right_txt h1{    font-size: 12px; line-height: 20px;text-indent: 12px;margin: 0 0 4px 0;color: #000573;}

.other_9 {line-height: 24px;background: url(..//images/other_7.jpg) no-repeat top;color: #fff;padding: 0 0 0 12px; text-align:left;  font-size:12px; margin-bottom:8px;}
.other_red {
    color: #FF0000;
}
.other_10 {
    text-align: center;
	margin: 0 0 0 10px;
	border: 1px solid #9B9B9B;
}
.other_11 {
    background: #003366;
	color:#FFFFFF;
	height: 18px;
	line-height:18px;
}
.other_12 {
    background: #EAEAEA;
}

.right_txt a{ color:#F00;text-decoration: none;}


/*<!--头部-->*/
#indexnav{width:1003px;height:90px;}
.navlogo{width:249px;height:85px;float:left;}
.navmenu{width:px;height:px;float:right;}
.menu{width:731px;height:40px;float:right;padding-top:38px;}
.menubg_01{width:23px;height:40px;background:url(/images/menubg_01.png);float:left;}
.menubg_02{width:685px;height:40px;background:url(/images/menubg_02.png);float:left;}
.menu_m{width:620px;height:33px;margin-left:42px;padding-top:7px;}
.menubg_03{width:20px;height:40px;background:url(/images/menubg_03.png);float:left;}

