@charset "utf-8";
/* CSS Document */
body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, input, textarea, p, blockquote {font-family: "微软雅黑"; margin:0; padding:0; position:0; font-size:12px;}
fieldset, img {	border:0;}
*{ margin:0; padding:0;}
.c_kefu {
	height: 320px;
	width: 230px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 170px;
	margin-bottom: 35px;
}
.c_footer {
	background-color: #e4e4e4;
	height: 120px;
	width: 100%;
}
.c_footer .config {
	font-size: 14px;
	line-height: 24px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	text-align: center;
}
.c_footer .config p {
	font-size: 14px;
}
.c_kefubg {
	background-color: #f8f8f8;
}
