* {
    margin: 0;
	padding: 0;
	font-size: 12px;
}
body {
    font-family: "宋体", Arial;
	width:820px;
	height:575px;
	font-size: 12px;
	color:#FFFFFF;
}
a:link,a:visited,a:active {
	color: #fff;
	text-decoration: none;
}
a:hover {
    color:#B0E8FF;
}
font{color:#B0E8FF;}
#top {
    width: 720px;
	height: 80px;
	padding: 0 0 0 280px;
	background: url(../images/top.jpg) no-repeat;
}
#top_lishi{height:733px; overflow-x:hidden; overflow-y:scroll; width:820px;}
#top_0 {
    width: 722px;
	height: 80px;
	padding: 0 0 0 278px;
	background: url(../images/top_0.jpg) no-repeat;
}
#top_1 {
    width: 540px;
    height: 51px;
	padding: 5px 0 0 180px;
}
.top_1_1 {
    width: 81px;
	height: 41px;
	float: left;
	padding: 2px 0 0 0;
}
.top_1_2 {
    width: 420px;
	height: 41px;
	padding: 0 0 0 12px;
	float: left;
}
.top_1_22 {
    width: 340px;
	height: 41px;
	padding: 0 0 0 12px;
	float: left;
}
.t_2_1 {
    width: 160px;
	padding: 3px 0 1px 10px;
	height: 17px;
	float: left;
}
.t_2_111 {
    width: 240px;
	padding: 3px 0 1px 10px;
	height: 17px;
	float: left;
}
.t_2_2 {
    width: 180px;
	padding: 3px 0 1px 10px;
	height: 17px;
	float: left;
}
.t_2_11 {
    width: 48px;
	padding: 3px 0 0 0;
	float:left;
}
.t_2_12 {
    width: 106px;
	float:left;
}
.t_2_15 {
    width: 106px;
	padding: 3px 0 0 0;
	float:left;
}
.t_2_17 {
    width: 126px;
	padding: 3px 0 0 0;
	float:left;
}
.t_2_16 {
    width: 18px;
	padding: 3px 0 0 0;
	float:left;
}
.t_2_17 {
    width: 18px;
	height: 17px;
	background: url(../images/top_5.gif) no-repeat left;
	float:left;
}
.top_13 {
    width: 50px;
	float:left;
}
.top_14 {
    width: 50px;
	float:left;
	padding: 0 0 0 8px;
}

.t_in_1 {
    width: 108px;
	height: 17px;
	border: 0;
}
.t_in_2 {
    width: 50px;
	height: 17px;
	border: 0px;
}
.t_2_2 {
    width: 110px;
	padding: 0 0 0 58px;
	height: 17px;
	float: left;
}
.t_2_21 {
    width: 48px;
	height: 21px;
	padding: 3px 0 0 0;
	float:left;
}
.t_2_22 {
	padding: 8px 0 0 2px;
	width: 60px;
	float: left;
	color: #FF9933;
}
.top_1_3 {
    float: right;
	padding: 4px 20px 0 0;
	height:40px;
	width: 60px;
	text-align: right;
}
.top_1_31 {
    height: 20px;
}
#top_2 {
	width: 720px;
	height:22px;
	padding: 2px 0 0 0;
	line-height: 22px;
	text-align: center;
}
#top_3 {
    width: 1000px;
	height: 30px;
}
.top_01 {
    width: 142px;
	height: 30px;
	float: left;
	background: #AE0000 url(../images/top_3.jpg) left no-repeat;
	padding: 0 0 0 38px;
	line-height: 30px;
}
.top_02 {
    width: 770px;
	height:30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
	float: left;
	background: #004D99;
	padding: 0 0 0 50px;
}
.top_03 {
    width: 105px;
	float: left;
	padding: 0 0 0 10px;
}
.top_04 {
    width: 80px;
	float: left;
}
.top_4 {
    width: 55px;
	height: 50px;
	float: left;
}

/*left*/
#left_bg {
    background: #154e70;
}
#ds_01_bet {
    width: 180px;
}
#left_1 {
    width: 180px;
	height: 33px;  
}

#left_1 img {
    border: 0;
}


#left_ids {
    width: 180px;
	height: 33px;  
}

#left_ids img {
    border: 0;
}

.left_2 {
    width: 137px;
    height: 28px;
	line-height: 28px;
	padding: 1px 0 0 43px;/*IE6*/
	height: 26px;!important; /* IE7+FF */
	line-height: 26px;!important; /* IE7+FF */
	padding: 3px 0 0 43px;!important; /* IE7+FF */
	font-weight: bold;
}
/*图_蓝*/
.a1{
    background: url(../images/left_2.jpg) no-repeat;
}
.a2 {
    background: url(../images/left_2.jpg) no-repeat;
}
.a3 {
    background: url(../images/left_2.jpg) no-repeat left -29px;
}
.a4 {
    background: url(../images/left_2.jpg) no-repeat left -29px;
}
.a5 {
    background: url(../images/left_2.jpg) no-repeat left -58px;
}
.a6 {
    background: url(../images/left_2.jpg) no-repeat left -87px;
}
.a7 {
    background: url(../images/left_2.jpg) no-repeat left -116px;
}
.a8 {
    background: url(../images/left_2.jpg) no-repeat left -145px;
}
.a9 {
    background: url(../images/left_2.jpg) no-repeat left -174px;
}


/*图_红*/
.b1{
    background: url(../images/left_3.jpg) no-repeat;
}
.b2 {
    background: url(../images/left_3.jpg) no-repeat;
}
.b3 {
    background: url(../images/left_3.jpg) no-repeat left -29px;
}
.b4 {
    background: url(../images/left_3.jpg) no-repeat left -29px;
}
.b5 {
    background: url(../images/left_3.jpg) no-repeat left -58px;
}
.b6 {
    background: url(../images/left_3.jpg) no-repeat left -87px;
}
.b7 {
    background: url(../images/left_3.jpg) no-repeat left -116px;
}
.b8 {
    background: url(../images/left_3.jpg) no-repeat left -145px;
}
.b9 {
    background: url(../images/left_3.jpg) no-repeat left -174px;
}
/*子栏目*/
.left_4 {
    width: 144px;
	height: 23px;
	padding: 1px 0 0 36px;
	line-height: 23px;
}
.aa1 {
    color: #fff;
	background: url(../images/left_4.jpg) no-repeat;
}
.aa2 {
    color: #B0E8FF;
	background: url(../images/left_5.jpg) no-repeat;
}
.aa1 a:link,.aa1 a:visited,.aa1 a:active,.aa1 a:hover {
    color: #fff;
	text-decoration: none;
}
.aa2 a:link,.aa2 a:visited,.aa2 a:active,.aa2 a:hover {
    color: #B0E8FF;
	text-decoration: none;
}
.aa1 font {
    color: #fff;
}
.aa2 font {
    color: #B0E8FF;
}
/*客服*/
#kefu {
    width: 180px;
	margin: 16px 0 0 0;
	height: 60px;
}
#kefu img {
    border: 0;
}

/*公告*/
#gg {
    background: #003264;
	border-bottom: 1px solid #000;
	height: 26px;
	width: 820px;
}
.gg_1 {
    width: 87px;
	height: 26px;
	float: left;
}
.gg_2 {
    width: 680px;
	height: 26px;
	line-height: 26px;
	color: #B0E8FF;
	padding: 0 0 0 25px;
	float: left;
}
.f_right {
    width:50px;
	height: 12px;
	line-height: 12px;
	line-height: 26px;!important; /* IE7+FF */
	float: right;
} 

.touzhu_1 {
    width: 180px;
	height:28px;
	line-height: 28px;
	text-align: center;
	font-weight:bold;
	padding: 2px 0 0 0;
	font-size:14px;
	margin: 5px 0 0 0;
	background: url(../images/touzhu_1.jpg) no-repeat;
}
.touzhu_2 {
    width: 180px;
	margin: 4px 0 12px 0;
}
.touzhu_3 {
    margin: 8px 0 0 20px;

}
.touzhu_4 {
    border-top: 3px solid #fff;
	border-bottom: 1px solid #fff;
	height: 26px;
	width: 168px;
	text-align: center;
	font-weight: bold;
	line-height: 26px;
	background: #106BC7;
}
.touzhu_5 {
    width:180px;
	height: 26px;
	line-height: 26px;
	background: #B9DCFF;
	text-align: center;
	border-bottom: 1px solid #000;
	color: #000000;
}

.touzhu_51 {
    width:180px;
	height: 26px;
	line-height: 26px;
	background: #B9DCFF;
	text-align: center;
	border-bottom: 1px solid #000;
	color: #000000;
}

.touzhu_6 {
    width: 180px;
    border-top: 1px solid #fff;
	padding: 8px 0 10px 0;
}
.tou_input {
    width: 80px;
	border: 1px solid #fff;
	height:16px;
}
.touzhu_7 {
    width: 60px;
	float: left;
	padding: 0 10px 0 10px;
}
.toua_1 {
    background: url(../images/touzhu_2.jpg) no-repeat;
	width: 60px;
	height: 22px;
	border: 0px;
	cursor:pointer;
}
.toua_2 {
    background: url(../images/touzhu_3.jpg) no-repeat;
	width: 60px;
	height: 22px;
	border: 0px;
}
.tou_red {
    color: #D90000;
}
.tou_h {
    color: #FFFF00;
}
.tou_red2 {
    color: #FF0000;
	line-height: 12px;
}
.cg_1 {
    width: 168px;
	height: 32px;
	line-height: 16px;
	background: #B9DCFF;
	color: #000;
	border-bottom: 1px solid #000;
}
.cg_1 td {
	text-indent: 3px;    
}
.cg_2 {
    width: 56px;
	color:#666666;
}
.cg_2 a:link,.cg_2 a:visited,.cg_2 a:active {
	color:#666666;
	text-decoration: none;
}
.cg_2 a:hover {
    color: #990000;
}
.cg_3 {
    line-height:16px;
}

#sy_bg {
    background: #A5B6D2;
}
.sy_01 {
    background: #A5B6D2;
    width: 806px;
	clear: both;
	height: 375px;
	padding: 6px 7px 16px 7px;
}
.sy_02 {
    width:550px;
}
.sy_03 {
    width:250;
}
.sy_00 {
    width:250;
    float:right;
}
.sy_03 img {
    border: 0;
}
.sy_04 {
    clear: both;
	line-height: 18px;
	color: #000000;
    width: 810px;
	padding: 0 0 10px 10px;
	background: #C0CCE0;
	text-align: center;
}
.sy_04 a:link,.sy_04  a:visited,.sy_04 a:active {
	color: #000;
	text-decoration: none;
}
.sy_04 a:hover {
    color:#000;
}
#re_0 {
	background: #e7e7e7;
	color: #000;
}
#re_0_s {
	background: #E1F0F7 url(../images/re_1.jpg) repeat-x;
	color: #000;
}

.re_1 {
    width: 700px;
	height: 30px;
	background: url(../images/re_2.jpg) no-repeat left;
}
.re_2 {
    width: 700px;
	padding: 16px 0;
	height: 90px;
}
h1 {
	font-size: 12px;
}
h2 {
    margin: 10px 0 0 0;
	font-size: 12px;
}
h3 {
	font-size: 12px;
	margin: 0 0 4px 0;
}
.re_21{
    padding: 0 0 0 30px;
	width: 300px;
	float:left;
}
.re_22 {
    padding: 0 0 0 30px;
	width: 340px;
	float:left;
}
.re_23 {
    width: 750px;
	padding: 0 0 0 30px;
	clear: both;
}
.re_3 {
    width: 300px;
	padding: 6px 0;
	height: 18px;
	color: #000;
}
.re_300 {
    width: 700px;
	padding: 3px 0;
	height: 18px;
	color: #000;
}
.re_31 {
    width: 62px;
	text-align: right;
	height: 12px;
	padding: 3px 0;
	float: left;
}
.re_32 {
    width: 238px;
	height:18px;
	float: right;
}
.re_33 {
    width: 100px;
	text-align: right;
	height: 12px;
	padding: 3px 0;
	color: #000000;
	float: left;
}
.re_34 {
    float: left;
	line-height: 16px;
}
.re_344 {
    float: left;
	line-height: 24px;
}
.re_35 {
    width: 62px;
	text-align: right;
	height: 32px;
	line-height: 32px;
	float: left;
}
.re_36 {
    width: 680px;
	float: left;
}
.re_37 {
    width: 170px;
	height:35px;
	float: left;
}
.re_38 {
    width: 24px;
	padding: 9px 0 0 4px;
	float:left;
}
.re_39 {
    height: 32px;
	width: 140px;
	float: left;
}
.re_a1 {
    height: 18px;
	width: 180px;
}
.re_a2 {
    line-height: 22px;
}
.re_a3 {
    width: 40px;
	text-align: right;
	float: left;
}
.re_a4 {
    width: 297px;
	height: 20px;
	float: left;
	padding: 0 0 0 3px;
}
.re_a5 {
    width: 340px;
	height: 20px;
	padding: 7px 0 0 0;
}
.re_a6s {
    padding:  0 0 0 26px;
	width: 400px;
	height: 26px;
	float: left;
}

.re_a6 {
    padding:  0 0 0 26px;
	width: 80px;
	height: 26px;
	float: left;
}
.re_a7 {
    background: url(../images/re_3.jpg) no-repeat no-repeat;
	width: 63px;
	border: 0;
	height: 26px;
}
.re_a8 {
    background: url(../images/re_4.jpg) no-repeat no-repeat;
	width: 63px;
	height: 26px;
	border: 0;
}
.re_a9 {
    background: url(../images/re_6.jpg) no-repeat no-repeat;
	width: 63px;
	border: 0;
	height: 26px;
}
.re_a10 {
    background: url(../images/re_7.jpg) no-repeat no-repeat;
	width: 63px;
	border: 0;
	height: 26px;
}
.re_4 {
    width: 700px;
	padding: 16px 0;
	clear: both;
	margin: 16px 0 0 0;
	border-top: #62B3D9 1px solid;
}
.re_b1 {
    padding: 7px 0 0 18px;
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
}
.re_b2 {
    width: 660px;
    line-height: 16px;
	padding: 10px 0 5px 16px;
	clear: both;
	margin-top:20px;
	color: #181818; 
}
.re_b3 {
    padding: 7px 0 0 18px;
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
	background: url(../images/re_1.jpg) repeat-x;
	height:26px;
}
.re_b4 {
    height:22px;
	line-height: 22px;
	background:#ADD6E9;
	margin: 8px 0 0 0;
}
.re_b4 a:link,.re_b4 a:visited,.re_b4 a:active {
	color: #000;
	text-decoration: none;
}
.re_b4 a:hover {
    color:#000;
}
.re0_5{
    background: url(../images/re_5.jpg) no-repeat;
    width:250px;
	height:23px;
	position:absolute;
	top:43px;
	left:92px;
	display:none
}

.re1_5{
    background: url(../images/re_5.jpg) no-repeat;
    width:250px;
	height:23px;
	position:absolute;
	top:73px;
	left:92px;
	display:none
}

.re2_5{
    background: url(../images/re_5.jpg) no-repeat;
    width:250px;
	height:23px;
	position:absolute;
	top:103px;
	left:92px;
	display:none
}

.re3_5{
    background: url(../images/re_5.jpg) no-repeat;
    width:250px;
	height:23px;
	position:absolute;
	top:73px;
	left:422px;
	display:none

}

.re4_5{
    background: url(../images/re_5.jpg) no-repeat;
    width:250px;
	height:23px;
	position:absolute;
	top:103px;
	left:422px;
	display:none
}


.re5_5{
    background: url(../images/re_5.jpg) no-repeat;
    width:250px;
	height:23px;
	position:absolute;
	top:182px;
	left:92px;
	display:none
}

.re6_5{
    background: url(../images/re_5.jpg) no-repeat;
    width:250px;
	height:23px;
	position:absolute;
	top:272px;
	left:92px;
	display:none
}

.re7_5{
    background: url(../images/re_5.jpg) no-repeat;
    width:217px;
	height:20px;
	padding: 3px 0 0 3px;
	position:absolute;
	top:182px;
	left:422px;
	display:none
}

#jl_0 {
    /*background: #E1F0F7;*/
	background: #e7e7e7;
}
.jl_11 {
    background: #6093C6;
	height: 24px;
	line-height: 24px;
	color: #FFFF66;
}

.jl_1 {
    height: 24px;
	line-height: 24px;
	background: #6093C6;
}
.jl_2 {
    border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.jl_2_1 {
	border-bottom: 1px solid #fff;
}
.jl_3 {
    background: #fff;
	color: #000;
}
.jl_4 {
	border-bottom: 1px solid #8B8B8B;
	border-right: 1px solid #C5C5C5;
}
.jl_4 a:link,.jl_4 a:visited,.jl_4 a:active {
	color:#005EBB;
	text-decoration: none;
}
.jl_4 a:hover {
    color:#005EBB;
}
.jl_5 {
    background:#6093C6;
	color: #FFFFFF;
}
.jl_5_1 {
    background:#e7e7e7;
	color: #000;
}
.jl_5 a:link,.jl_5 a:visited,.jl_5 a:active {
	color:#fff;
	text-decoration: none;
}
.jl_5 a:hover {
    color:#fff;
}

.jl_6 {
    color:#000000;
}
.ck_1 {
    width: 96%;
	margin: 18px 0 0 20px;
	padding-bottom:5px;
}
.ck_1 p {
	font-size: 12px;
	text-indent: 24px;
	line-height: 16px;
}
.offer_1 {
    margin: 12px 0 0 10px;
}
.offer_1 h3 {
    font-size: 14px;
    padding: 8px 0 4px 10px;
	color: #005CA2;
}
.offer_1 p {
	line-height: 14px;
	text-indent: 24px;	
}


#wh_bg {
    background: #9CB3DC url(../images/wh_bg.gif) repeat-x;
	font-size: 12px;
}
.wh_1 {
    background: url(../images/wh_2.jpg) top no-repeat;
	width: 100%;
	height:520px;
}
.wh_2 {
    width: 350px;
	color: #000000;
	margin: 0 auto;
	padding: 200px 0 0 0;
	height: 80px;
}
.wh_3 {
    width: 423px;
	margin: 43px auto 0 auto;
	height: 80px;
}
.cc_1 {
    background: url(../images/cc_1.jpg) top no-repeat;
	width: 100%;
	height:520px;
}
.cc_2 {
    width: 230px;
	color: #000000;
	margin: 0 auto;
	padding: 190px 120px 0 320px;
	height: 80px;
}
#ck_0 {
    background: #A5B6D2;
	color: #000;
}
.ck_11 {
    margin: 0 auto;
	width: 350px;
}
.ck_2 {
    width: 350px;
	background: url(../images/ck_1.jpg) no-repeat;
	height: 30px;
}
.ck_3 {
    width: 350px;
	height: 145px;
	padding: 15px 0 0 0;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	background: #fff;
}
.ck_4 {
    padding: 5px 0;
	height: 12px;
	line-height:12px;
}
.ck_41 {
    float: left;
	width: 94px;
	text-align: right;
}
.ck_42 {
    float: left;
	width: 230px;
}
.ck_5 {
    padding: 12px 0 0 0;
    width: 200px;
	margin:0 auto;
}
.ck_51 {
    width: 100px;
	text-align: center;
	float: left;
}
.ck_52 {
    width: 60px;
	height: 22px;
	background: url(../images/ck_2.jpg) no-repeat;
	border: 0;
}
.ck_53 {
    width: 60px;
	height: 22px;
	background: url(../images/ck_3.jpg) no-repeat;
	border: 0;
}
.form_font_title a:link,.form_font_title a:visited,.form_font_title a:active {
	color: #FF0000;
	text-decoration: none;
}
.form_font_title a:hover {
    color: #990000;
}


.tiaokuang_02{width:820px;height:30px;line-height:30px;background:url(/images/tiaobg_02.jpg);color:#fff;font-size:13px;color:#fff;text-align:center;}
.tiaoborder_01{width:128px;height:24px;line-height:24px;background:url(/images/yuankuangbg_02.png);float:left;}
.tiaoborder_02{width:128px;height:24px;line-height:24px;background:url(/images/yuankuangbg_03.png);float:left;}
.tiaoborder_01 a{ color:#FFF}
.tiaoborder_02 a{ color:#FFF}