
form,img,ul,ol,li,dl,dt,dd {margin:0;padding:0;border:0;}
li,dl{list-style-type:none;}
img{vertical-align:center;}
input{text-align:center;margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:12px;font-weight:bold;margin:0; padding:0;}
.clear{height:0px;font-size:0px;overflow:hidden;clear:both;}
a:link {color:#fff; text-decoration:none;}
a:hover {color: #ff0; text-decoration:none;}

#Main{width:1024px;height:820px;margin:0 auto;}
.Top{width:100%;height:40px;line-height:40px;}
.Button_01{width:139px;height:25px;line-height:25px;background:url(/images/border_01.gif); border:none;}
.Button_02{width:60px;height:25px;line-height:25px;background:url(/images/border_02.gif); border:none;}
.Button_03{width:59px;height:23px;background:url(/images/button_01.jpg); border:none;}
.Button_04{width:59px;height:23px;background:url(/images/button_02.jpg); border:none;}
#ico{width:154px;height:48px; background:url(/images/ico.png);margin:-7px 0 0 840px; border:none;}

#Bannerbg{width:1024px;height:418px;margin:0 auto;}
.logo{width:1024px;height:98px; position:relative;}
.logo_t{width:293px;height:103px;float:left;padding-top:22px; position:absolute; top:-20px; left:0;}
.menu{width:731px;height:40px;float:right;padding-top:48px;}
.menubg_01{width:23px;height:40px;background:url(/images/menubg_01.png);float:left;}
.menubg_02{width:685px;height:40px;background:url(/images/menubg_02.png);float:left;}
.menu_m{width:620px;height:33px;margin-left:0px;padding-top:7px;}
.menubg_03{width:20px;height:40px;background:url(/images/menubg_03.png);float:left;}
.banner{width:1024px;height:330px;}
.banner2{width:1024px;height:330px; background:url(/images/loading.gif) no-repeat; background-position:center center;}

#Content{width:1024px;height:249px;margin:0 auto;}
.Service{width:188px;height:224px;float:left;margin-top:25px;padding-left:35px;}
.title_01{text-align:left;margin-top:25px;margin:0 0 9px 0;}
.title_02{width:188px;height:42px;}
.title_03{width:188px;height:42px;margin:6px 0;}
.title_04{width:188px;height:42px;}
.title_05{width:188px;height:42px;margin:6px 0 0 0;}
.title_06{text-align:left;margin-top:24px;}
.Time{width:258px;height:196px;float:left;padding-top:53px;}
.tmpbg{width:133px;height:137px;margin:0 auto;background:url(/images/time.png);padding-top:56px;line-height:16px;}
.Newest{width:543px;height:249px;float:left;}
.Newestbg{width:472px;height:187px;margin-top:10px;}
.txt_r{width:472px;height:49px;line-height:49px;}
.zaixiantiqu{width:142px;height:39px;float:left;padding-top:10px;}
.shoujitouzhu{width:294px;height:39px;float:right;padding-top:10px;text-align:left;padding-left:36px;}
.txt_img{margin-top:0px;}

#Footer{width:1024px;height:93px;margin:0 auto;}
.linebg{width:1024px;height:1px;background:url(/images/linebg.png);margin:15px 0;}
.txt{width:1004px;height:59px;text-align:center;margin-left:20px;}
.logo_f{width:212px;height:52px;float:left;padding-top:7px;}
.txt_w{width:792px;height:59px;float:right;text-align:left;}

/*真人游戏*/
.banner01{width:1024px;height:373px;margin-top:10px;}
#Content01{width:1024px;height:190px;margin:0 auto;}
.left{width:346px;heiht:373px;float:left;}
.right{width:678px;heiht:373px;float:right;}
.img_02{width:346px;height:109px;background:url(/images/shoubg_05.jpg);}
.img_03{width:346px;height:71px;background:url(/images/shoubg_07.jpg);}
.Voting{width:113px;height:31px;background:url(/images/Voting.png);border:none;margin-top:15px;}
.Frame{width:28px;hieght:23px;float:left;margin-top:4px;padding-left:80px;}
.Article{width:238px;hieght:23px;float:right;margin-top:12px; position:relative}
.Frame_v{width:23px;height:23px;}
.Frame01{width:23px;height:23px;background:url(/images/Frame_02.png);border:none;margin-top:7px;}
a#Frame_f:link,a#Frame_f:visited,a#Frame_f:active{width:23px;height:23px;background:url(/images/Frame_02.png);}
.Frame02{width:23px;height:23px;background:url(/images/Frame_01.png);border:none;margin-top:7px;}
.Article01{ width:0px;height:20px;background:url(/images/Article_a.jpg);position:absolute; right:70px; left:0; top:0px;}
.Article02{ width:0px;height:20px;background:url(/images/Article_a.jpg);margin-top:10px;position:absolute; left:0; top:20px;}
.Article03{ width:0px;height:20px;background:url(/images/Article_a.jpg);margin-top:10px;position:absolute; left:0; top:50px;}