html{SCROLLBAR-FACE-COLOR:#D7D8DA;SCROLLBAR-HIGHLIGHT-COLOR:#FFF;SCROLLBAR-SHADOW-COLOR:#909192;SCROLLBAR-3DLIGHT-COLOR:#CCCDCE;SCROLLBAR-ARROW-COLOR:#FFF;SCROLLBAR-TRACK-COLOR:#CCCDCE;SCROLLBAR-DARKSHADOW-COLOR:#CCCDCE;}
body{margin:0;padding:0;font-size:13px;color:#FFFFFF;font-family:"宋体",arial;}
a,li,dl{list-style-type:none;text-decoration:none;color:#00573F;}
span{color:#FFFFFF;}
.left{width:168px;background:url(../images/leftbg.gif);}
.left01{width:161px;background:url(../images/leftbg01.gif);margin:5px 0 5px 6px;}
.border01{width:157px;height:auto;border: 1px solid #8c601d;}
.txt01{width:135px;height:70px;margin:6px 0 0 10px;}
.txt01 a{color:#006A4E;}
.bg01{width:157px;height:30px;background:#493723;}
.button01{width:73px;height:23px;background:url(../images/button001.gif);border:none;font-size:12px;font-weight: bold;color:#e69f2b;padding:3px 0 0 2px;margin:4px 0 0 1px; cursor:pointer;}
.button03{width:73px;height:23px;background:url(../images/button01.gif);border:none;font-size:12px;font-weight: bold;color:#e69f2b;padding:3px 0 0 2px;margin:4px 0 0 1px; cursor:pointer;}
.button02{width:51px;height:20px;background:url(../images/button1.gif);border:none;font-size:12px;;color:#e69f2b;padding:3px 0 0 0;margin:4px 7px 0 14px; cursor:pointer;}
.txt02{text-align:center;}
.line{width:157px;height:1px;background:url(../images/line.gif);margin:5px 0 13px 0;}
.edit{width:60px;height:15px; border:1px #abadb3 solid;}
.read{width:60px;height:15px; border:0;}
.txt03{text-align:left;margin:0 0 0 5px;}
.bg02{width:157px;height:30px;background:#493723;}
.border02{width:159px;border: 1px solid #8c601d; border-bottom:0px;margin:0 0 0px 0;}
.navbg{width:153px;height:100%;background:url(../images/navbg.gif);}
.nav01{width:154px;height:21px;background:url(../images/navbg.gif);font-size:12px;text-align:left;padding:0 0 0 5px;line-height:20px; cursor:pointer;}
.left_01{float:left;}
.right_01{float:right;padding:0 5px 0 0;}
/*.nav02{padding:0 0 0 68px;color:#00573F;text-align:center;}
.nav03{padding:0 0 0 42px;color:#00573F;text-align:center;}
.nav04{padding:0 0 0 48px;color:#00573F;text-align:center;}
.nav05{padding:0 0 0 82px;color:#00573F;text-align:center;}*/
.bg_01{width:154px;height:26px;background:url(../images/left_bg.jpg);padding:0 0 0 5px;color:#1a0e00;font-size:12px;line-height:26px;}
.left_02{float:left; cursor:pointer;}
.left_02 a{ color:#1a0e00}
.left_02 a:link,.left_02 a:visited,.left_02 a:active{
	color: #000;
	text-decoration: none;
}
.left_02 a:hover {
    color: #fff200; font-weight:bold
}
.right_02{float:right;padding:0 5px 0 0;}
.red{ color:#fdf200;}
.leftbon{background:#260607; margin-top:0px; padding-top:20px; padding-bottom:10px;}
.leftbon div{margin-top:10px;}
.kefu{width:100%; height:30px; text-align:center}
.email{background:url(../images/email.jpg) no-repeat left; width:100%; height:50px; text-align:right;}
.tel{background:url(../images/tel.jpg) no-repeat left; widows:100%; height:33px; text-align:right; padding-top:5px; padding-right:10px;}
.tel em{margin:0px 0px 0 0; color:#a36f31; font-size:12px;}
.qq{background:url(../images/qq.jpg) no-repeat left; widows:100%; height:33px; text-align:left; padding-top:20px; padding-left:45px; padding-right:10px;}
.qq em{margin:0px 0px 0 0; color:#a36f31; font-size:12px;}
.slogin_3{ padding-left:10px;}

.match_msg{text-align:center; border-bottom:1px #e7a02a dotted; font-size:12px; background:#fff}
.match_sort{color:#e79e2b; height:20px; line-height:20px; margin-top:5px; font-weight:bold; height:auto;}
.match_name{color:#ffffff; height:18px; font-weight:bold; height:auto;}
.match_vs{color:#fff301;}
.match_master{color:#e79e2b;}
.match_guest{color:#e79e2b;}
.match_info{text-align:left; padding:5px 0 3px 8px;}
