/* CSS Document */
.red_3 {
    color: #EA0000;
}
.slogin {
    width: 180px;
	background: #ABF3F5 url(../images/l_4.gif) left repeat-y;
	line-height: 14px;
}
.slogin_2 {
    width: 163px;
	padding: 6px 0 4px 17px;
	line-height: 16px;
}
.slogin_3 {
    width: 145px;
	padding: 0 0 0 15px;
}
#hy_03 {
    width: 180px;
	margin: 2px 0 0 0;
	background: url(../images/l_3.gif) no-repeat;
	height: 22px;
}
#hy_02 {
    width: 180px;
	margin: 2px 0 0 0;
	background: url(../images/l_2.gif) no-repeat;
	height: 22px;
}
.danshi_00 {
    width: 180px;
}
.danshi_01 {
    width: 92px;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	border: 0px;
	font-weight: bold;
	color: #fff;
	cursor:pointer;
	background: url(../images/l_0_1.gif) no-repeat;
}
.danshi_02 {
    width: 92px;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	border: 0px;
	font-weight: bold;
	color: #000;
	cursor:pointer;
	background: url(../images/l_0_2.gif) no-repeat;
}
.danshi_03 {
    width: 88px;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	border: 0px;
	font-weight: bold;
	color: #000;
	cursor:pointer;
	background: url(../images/l_1_1.gif) no-repeat;
}
.danshi_04 {
    width: 88px;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	border: 0px;
	font-weight: bold;
	color: #fff;
	cursor:pointer;
	background: url(../images/l_1_2.gif) no-repeat;
}
.fudong {
    float: left;
}
.xian {
    height: 18px;
	background: #fff;
	float: left;
	width: 1px;    
}
.bottom_00 {
    width: 180px;
	height: 8px;
	font-size: 0;
    background: url(../images/l_5.gif) no-repeat left top;
}
.peilv {
    color: #FF0000;
	width: 150px;
	margin: 0 0 0 10px;
	padding: 3px 0 0 0;
	text-align:center;
	border-top: 1px solid #fff;
}
.see {
    background: url(../images/left_xx_xian.jpg) no-repeat top;
	padding: 5px 0 0 0;
	margin: 4px 0 0 0;
}
.touzhu {
   margin: 4px 0;
}
.left_touzhu {
	background: url(../images/anniu_lan.gif) no-repeat;
	width: 40px;
	line-height: 22px;
	height: 20px;
	border: 0px;
	color: #fff;
}
.left_touzhu2 {
	background: url(../images/anniu_hui.gif) no-repeat;
	width: 40px;
	line-height: 22px;
	height: 20px;
	border: 0px;
	color: #fff;
}