@charset "utf-8";
/* CSS Document */
body{ margin:0;}
.tiaokuang_01{width:820px;height:27px;line-height:27px;background:url(/images/tiaobg_01.jpg);font-size:12px;color:#333; text-align: center;}

.tiaotxt_01{width:105px;height:23px;line-height:23px;background:url(/images/yuankuangbg_01.png);float:left;}
.tiaotxt_02{width:449px;height:26px;line-height:26px;float:left; padding-right:10px; padding-left:10px;}
.tiaotxt_03{width:21px;height:26px;line-height:26px;float:left;}
.tiaotxt_04{width:195px;height:26px;line-height:26px;float:left;text-align:left;padding-left:10px;}

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
