body {text-align:center; font-family:"宋体",arial;margin:0;padding:0;font-size:12px;background:url(/images/indexbg2.jpg) repeat-x #082C42;}
form,img,ul,ol,li,dl,dt,dd {margin:0;padding:0;border:0;}
li,dl{list-style-type:none;}
.clear{height:0px;font-size:0px;overflow:hidden;clear:both;}
a:link {color:#fff; text-decoration:none;}
a:visited {color:#fff;text-decoration:none;}
a:hover {color:#ff0; text-decoration:none;}

.Top{width:1003px;height: auto; position:relative}
.Logo{width:249px;height:85px;float:left;}
.Content{width:754px;height:110px;float:right;color:#fff;}
.Login_01{width:205px;height:47px;float:left;text-align:right; padding-top:9px;}
.Login_02{width:428px;height:49px;float:left; padding-top:2px;}
.Login_03{width:80px;height:49px;float:left;padding-top:7px;line-height:22px;float:left;}
.aone_01{width:418px;height:22px;}
.aatwo_l{width:214px;height:22px;float:left;}
.aatwo_r{width:auto;height:22px;float:right;}
.aone_02{width:428px;height:22px;margin-top:3px; float:left;}
.aatwo_01{width:125px;height:22px;float:left;margin-left:20px;}
.aatwo_02{float:left;height:22px; padding-top:9px;}
.Submita{width:175px;float:right;margin-right:2px; padding-top:5px;}

.Login{width:664px;height:56px;padding-left:90px;overflow:hidden;}
.Kaihu{width:86px;height:31px;margin-top:12px;float:left;}
.Vip{width:205px;height:31px;margin-top:13px;float:left;}
.Login_box{width:205px;height:17px;}
.input_01{width:121px;height:20px;line-height:20px;background:url(/images/Article_01.png) no-repeat;border:none; padding-left:3px;}
.input_02{width:68px;height:20px;line-height:20px;background:url(/images/Article_03.png) no-repeat;border:none; padding-left:3px;}



/*.input_01{height:15px; width:121px}
.input_02{height:15px;width:70px}*/

.input_03{width:59px;height:22px;background:url(/images/button_01.png);border:none; cursor:pointer}
.Verification{width:172px;height:17px;margin-top:4px;text-align:left;padding-left:15px;}
.Verification img{margin:0 0 0 8px;}
.menu{width:704px;height:40px;padding:7px 0 0 45px;}
.menubg_01{width:23px;height:40px;background:url(/images/menubg_01.png);float:left;}
.menubg_02{width:655px;height:40px;background:url(/images/menubg_02.png);float:left;}
.menu_m{width:620px;height:33px;padding-top:7px;}
.menubg_03{width:20px;height:40px;background:url(/images/menubg_03.png);float:left;}

.Logina_01{width:280px;height:43px;float:left; text-align:left}
.twoaa_01{width:280px;height:20px;line-height:20px;margin-top:7px;}

.Logina_02{width:240px;height:43px;float:left;}
.Logina_03{width:121px;height:43px;float:left;}
.inputk_01{width:60px;height:18px;background:url(/images/weipaicai.jpg) no-repeat;border:none;margin-left:65px; cursor:pointer}
.inputk_02{width:46px;height:18px;background:url(/images/chuaixin.jpg) no-repeat;border:none;margin-left:5px; cursor:pointer}
.inputk_03{width:60px;height:18px;background:url(/images/gerenziliao.jpg) no-repeat;border:none; cursor:pointer}
.inputk_04{width:60px;height:18px;background:url(/images/huiyuancunkuang.jpg) no-repeat;border:none;margin-left:5px; cursor:pointer}
.inputk_05{width:60px;height:18px;background:url(/images/zhanghulishi.jpg) no-repeat;border:none; cursor:pointer}
.inputk_06{width:60px;height:18px;background:url(/images/huiyuantikuang.jpg) no-repeat;border:none;margin-left:5px; cursor:pointer}

.inputk_07{width:46px;height:18px;background:url(/images/topsx.jpg) no-repeat;border:none;margin-left:20px; cursor:pointer}
.inputk_08{width:46px;height:18px;background:url(/images/toptc.jpg) no-repeat;border:none;margin-left:20px; cursor:pointer}
.inputk_09{width:38px;height:35px;background:url(/images/cas.jpg) no-repeat;border:none;cursor:pointer}