/* CSS Document */
* {
    margin: 0;
	padding: 0;
}
body {
background: #B3F3E8 url(../images/right_bg2.jpg) repeat-x;
font-size: 12px;
font-family:"宋体";
}
#top_1 {
    background: url(../images/tikuan_01.gif) no-repeat;
	margin: 12px 0 0 30px;
	padding: 8px 0 0 45px;
	font-weight: bold;
	color: #005500;
	height: 20px;
}
#waikuan {
    background: #fff;
	margin: 10px 0 0 30px;
	width: 700px;
	border: 2px solid #005E1F;
}
#waikuan #top_2 {
    padding: 14px 20px;
	border-bottom: 2px solid #005E1F;
	height: 20px;
	background: #B5FFF4;
}
.fudong_1 {
    float: left;
	line-height: 20px;
}
.fudong_2 {
    float: left;
	width: 300px;
}
.fudong_2 {
    height: 16px;
}
.shuoming {
    padding: 0 10px 14px 10px;
}
.shuoming h1 {
    font-size: 12px;
	font-weight: bold;
	margin: 14px 0 3px 0;
	color: #0280FD;
}
.shuoming p {
	text-indent: 20px;
	margin: 3px 0;
}
.left_touzhu {
	background: url(../images/left_touzhu.jpg) no-repeat;
	width: 47px;
	line-height: 20px;
	height: 20px;
	border: 0px;
	letter-spacing: 3px;
	color: #000;
}
/*lishi*/
#top_lishi {
    width: 755px;
	margin: 31px 0 0 30px;
}
#top_lishi_bg {
	background: url(../images/lishi_top.jpg) no-repeat;
	height: 36px;
	padding: 2px 0 0 0;
	width:755px;
}
#top_lishi_bg .tu_1 {
	margin: 0 0 0 15px;
	font-size: 12px;
	background: url(../images/lishi_tu_01.jpg) no-repeat;
	height: 36px;
	text-indent: 36px;
	color:#007309;
}
#top_lishi_bg .h_01 {
    font-size: 14px;
	font-weight: bold;
	padding: 6px 0 0 0;
}
#top_lishi_bg .h_02 {
}
#center_1 {
    border: 2px solid #747474;
	background: #E3FBF7;
}
#center_1 #center_2 {
    padding: 40px 10px 60px 20px;
}
#center_1 #center_3 {
    padding: 30px 10px 30px 20px;
}
#center_1 .biao_0 {
    width: 700px;
	padding: 0 0 0 20px;
	height: 30px;
}
#center_1 .biao_1 {
    width: 100px;
	text-align: right;
	float: left;
	height: 22px;
	line-height: 22px;
}
#center_1 .biao_2 {
    float: left;
	padding: 0 20px 0 0;
}
#center_1 .biao_4 {
    float: left;
	width: 500px;
}
#center_1 .biao_5 {
    padding: 2px 0;
}
#center_1 .biao_6 {
    float: left;
	padding: 10px 0 10px 100px;
	clear: both;
}
#center_1  .biao_7 {
    width: 700px;
	margin: 0 0 0 20px;
	height: 30px;
}
#center_1 .biao_8 {
    width: 700px;
	margin: 0 0 0 20px;
	height: 30px;
}
#center_1 .biao_9 {
    float: left;
	padding: 15px 0 10px 24px;
	color: #784410;
}
.anniu_000 {
    background: url(../images/zhuce_tb.jpg) no-repeat;
	width: 51px;
	height: 23px;
	border: 0;
}
/*lishi end of*/
/*chaxun*/
.chaxun {
    border-left: 2px solid #747474;
    border-right: 2px solid #747474;
    border-bottom: 2px solid #747474;
	background: #E3FBF7;
}
.sekuai_01 {
    background: #1C8800;
	color: #FFF;
	width: 751px;
	height: 24px;
	line-height: 24px;
	border-bottom: 2px solid #747474;
}
.bian_r {
    border-right: 1px solid #fff;
}
.bian_r2 {
    border-right: 1px solid #D2D2D2;
}
.kuai_00 {
    width: 140px;
	text-align: center;
}
.kuai_01 {
    width: 100px;
	text-align: center;
}
.kuai_03 {
    width: 80px;
	text-align: center;
}
.kuai_02 {
    width: 266px;
	text-align: center;
}
.kuai_04 {
	text-align: center;
	width: 103px;
}
.kuai_05 {
	text-align: center;
	width: 127px;
}
.sekuai_02 {
    background: ;
	color: #000;
	width: 751px;
	line-height: 18px;
	height: 18px;
	border-bottom: 1px solid #999;
}
.sekuai_03 {
    width: 731px;
	background: #D5FFBF;
	color: #000;
	height: 30px;
	line-height: 30px;
	padding: 0 20px 0 0;
	text-indent: 8px;
}
.sekuai_03 .fanye {
	float: right;
	text-align:right;
}
.red {
    color:#DD0000;
	padding: 0 20px 0 0;
}
/*chaxun end of*/