body{margin:0;padding:0;text-decoration:none;width:1003px;height:80px;background:#fff url(../images/bg.gif);}
a{text-decoration:none;}
li,dl{list-style-type:none;}
.top{width:1003px;height:65px; margin:0px; padding:0px;}
.logo{width:185px;height:65px;float:left;}
.nav{width:795px;height:65px;float:left; margin:0px; padding:0px;}
.txt{width:380px;height:22px;background:url(../images/topbg.jpg) no-repeat left;float:right;font-size:12px;text-align:right; margin-right:8px;}
.txt ul{float:left; width:320px; text-align:left; margin:0px; padding:0px; }
.txt ul li {float:left; width:80px; text-align:right;}
.txt ul li a{float:left; color:#3FC; float:right; margin-top:5px;}
.txt_dl{width:460px;height:22px;float:right;font-size:12px;text-align:right; margin-right:8px; padding:5px;}
.txt_dl ul{float:left; width:400px; text-align:left; margin:0px; padding:0px; }
.txt_dl ul li {float:left; width:80px; text-align:right;}
.txt_dl ul li a{float:left; color:#ffbf66; float:right; margin-top:5px;}
.subcla1{width:51px;height:20px;background:url(../images/button1.gif);border:none;font-size:12px;font-weight: bold;color:#fff200;padding:0; background-position:center; margin:0 0 0 8px; cursor:pointer; float:right;}  

#login{width:100%; height:50px; margin:0px; float:left; clear:both; text-align:right; padding:0px;}
#login .userlogin{float:right; margin-top:0; width:50%; text-align:right; margin-right:0px;}
#login .userlogin ul{float:right; margin-top:0px; text-align:right; margin-right:3px;}
#login .userlogin  ul li{float:left; margin-left:10px; font-size:12px; color:#EAD85B;}
.inputs{height:15px; width:100px; padding:0px; margin:0 0 3px 0; border:1px solid #abadb3; color:#865f5f; background:#450909}
.yzm{height:15px; width:53px; padding:0px;  margin:0 0 3px 0; border:1px solid #abadb3; color:#85796b; background:#493723}
.kaih{width:60px; height:40px; background:url(../images/button02.png) no-repeat; display:block; text-align:center; padding-top:8px; cursor:pointer; color:#fbbe5e; font-weight:bold;}


.iuts{height:19px;line-height:19px;width:100px; padding:0px; margin:0 0 3px 0; color:#999; border:1px solid #000}
.yzms{height:19px;line-height:19px;width:55px; padding:0px;  margin:0 0 3px 0; border:1px solid #000; color:#999;}


#t_2{ background:url(../images/t_3.png) no-repeat; height:30px; padding-left:42px; padding-top:7px; float:left; color:#fff200; font-size:12px; margin:10px 0 0;}
.subcla{width:51px;height:20px;background:url(../images/button1.gif);border:none;font-size:12px;font-weight: bold;color:#fff200;padding:0; background-position:center; margin:0 0 5px 0; cursor:pointer;}
.pwdbak{height:20px; width:51px; color:#fff200; cursor:pointer;}

#menu{width:100%;height:30px; clear:both; margin:0px; text-align:left; float:left; padding:0px;}
#menu ul{float:left; margin:0px; width:795px; height:100%; padding:0px;}
#menu ul li{float:left;line-height:30px;text-align:center;height:30px;}/*background:url(../images/menubg.gif); */
.homemenu{background:url(../images/nav06.gif);color:#ffbf66;text-decoration:none;width:102px;height:30px;font-weight: bold;display:block; margin:0px; font-size:14px; float:left;}
.alink{width:98px;height:30px;background:url(../images/nav07.gif);display:block;font-size:14px;color:#ffbf66;margin:0px; float:left;}
.homemenua{background:url(../images/nav09.gif);color:#fff000;text-decoration:none;width:98px;height:30px;font-weight: bold;display:block; margin:0px; font-size:14px; float:left;}