#d-left{margin-left:0px;border-bottom:1px solid #ff0000;padding:20px;}
#d-right{margin-left:0px;height:px;padding:10px; background:#fff;}
*{border-color:#c4d9ee!important;color: #000; margin:0; padding: 0;}
#btn{    
    background: url(../images/anniu_lan.gif) no-repeat;
	width: 40px;
	height: 20px;
	line-height:22px;
	color: #fff;
	border: 0;
}
#tx{height:15px;font-size:13px;}
.innerdiv h2{margin:2px;padding:0px;text-align:center;border-bottom:2px solid #CFF;}
.innerdiv p{color:#444;border-bottom:1px dotted #CFF;}
.innerdiv p span{color:#444;display:inline-block;width:120px;text-align:right;margin-right:5px;}
.innerdiv input{width:100px;border:1px solid #CFC;height:15px;}
/*===============*/
.curlycontainer {
border: 1px solid #b8b8b8;
margin-bottom: 1em;
width: 99%;
font-size:12px
}
 
.curlycontainer .innerdiv{
background: transparent bottom right no-repeat;
position: relative;
left: 2px;
top: 2px;
padding: 1px 4px 15px 5px;
}
.ziliao_02 {
	float: left;
	line-height: 18px;
	height: 18px;
}
.tiao_02 {
    clear: both;
	display:inherit;
	padding: 15px 0 0 120px;
}


