#youhui{width:100%; height:auto;background:url(/images//youhuibg.jpg) repeat-x #1E526A; }
.youhuibg{width:872px;height:100%;padding-left:25px;}
.youhuiimga1{margin-left:71px;}
.youhuiga{width:979px;height:99px;background:url(/images//ub2.png);}
.inputbg_01{width:872px;height:95px;background:url(/images//dianjiimg_01.png);border:none;margin-left:51px;}
.inputbg_02{width:872px;height:95px;background:url(/images//dianjiimg_02.png);border:none;margin-left:51px;}
.inputbg_03{width:872px;height:95px;background:url(/images//dianjiimg_03.png);border:none;margin-left:51px;}
.inputbg_04{width:872px;height:95px;background:url(/images//dianjiimg_04.png);border:none;margin-left:51px;}
.inputbg_05{width:872px;height:95px;background:url(/images//dianjiimg_05.png);border:none;margin-left:51px;}
.inputbg_06{width:872px;height:95px;background:url(/images//dianjiimg_06.png);border:none;margin-left:51px;}