#youxi{width:994px;height:560px;font-size:12px;color:#fff; font-family:"宋体",arial;line-height:18px;font-weight:bold;}
a:link {color:#e8bf00; text-decoration:none;}
a:hover {color: #ff0; text-decoration:none;}
.youxi_a3{wdith:994px;height:404px;}
.youxi_l{width:260px;height:404px;float:left;}
.youxi_r{width:734px;height:404px;float:right;}
.youxi_r1{width:734px;height:97px; background:url(/images/imgy_04.jpg);}
.youxi_r1a{padding:7px 0 0 25px;width:538px;height:90px;float:left; text-align:left;}
.youxi_rl2{width:171px;height:49px;float:right;padding-top:48px; text-align:left;}
.input_a01{width:89px;height:32px;background:url(/images/border_a1.png);border:none;padding:0 0 10px 0; cursor:pointer;}
.input_a02{width:89px;height:32px;background:url(/images/border_a2.png);border:none;padding:0 0 10px 0; cursor:pointer;}
.youxi_r2{width:734px;height:98px; background:url(/images/imgy_06.jpg);}
.youxi_r3{width:734px;height:97px; background:url(/images/imgy_08.jpg);}
.youxi_r4{width:734px;height:112px; background:url(/images/imgy_10.jpg);}